<h2>Thank you for adding your details <%= @user.user_detail.f_name %></h2>
<p>Please check that your details are correct:</p>
<br>
<p><strong> Full name:</strong> <%= @user.user_detail.f_name %> <%= @user.user_detail.l_name %></p>
<p><strong>Street:</strong>  <%= @user.user_detail.door_number %> <%= @user.user_detail.street %></p>
<p><strong>Postcode:</strong>  <%= @user.user_detail.postcode %></p>
<p><strong>Town/City:</strong>  <%= @user.user_detail.city %></p>
<p><strong>Contact number:</strong>  <%= @user.user_detail.phone %></p>
<br>
<p>Doesnt look right? <%= link_to "Change details here", profile_url %></p>
<br>
<p>Otherwise you are ready to browse through our awesome items, just click  <%= link_to "Here", categories_url %></p>
<br>
<p><strong> Regards</strong></p>
<p><strong>"NCC Team"</strong> </p>
