<!DOCTYPE html>
<html lang="en">
<head style="padding: 0; margin: 0; overflow: hidden; box-sizing: border-box;">
 <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
 <meta name="x-apple-disable-message-reformatting">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta content="IE=edge" http-equiv="X-UA-Compatible">
 <title>Confirmation Email</title>
</head>
<body style="padding: 0; margin: 0; text-align: center; background-color: rgb(244,244,244);">
  <div style="margin: 0 auto;">
    <%= image_tag "https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630665229/NCC/logo-full_ty7sc2.png", style: 'width: 150px' %>
  </div>
  <div style="width: 80%; height: 1px; background-color: rgb(236, 5, 141); margin: 0 auto;"></div>
  <br>
  <h2> Dear <%= @user.user_detail.f_name %> <%= @user.user_detail.l_name %> your order has being <%= @purchase.state %></h2>
    <br>
  <br>
  <div style="text-align: left; width: 80%; margin: 0 auto;">
    
    <p>You ordere id: <%= @purchase.id %></p>
    <p><strong>ISSUED ON</strong> <%= @purchase.created_at.to_date %></p>
    <% @cart.each do |item| %>
      <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
      <ul class="list-unstyled">
        <li><p>Product: <%= item.product.title %></p></li>
        <li><p>Proce: <%= humanized_money_with_symbol(item.price) %> </p></li>
        <li><p>Quantity: <%= item.quantity %></p></li>
        <li><p>Personal Message: <%= item.message %></p></li> 
      </ul>
    <% end %>
    <strong>TOTAL</strong> <%= humanized_money_with_symbol @purchase.amount %>
    <br>
    <strong> <p>Your order will be delivered to: </p></strong>
    <p><%= @user.user_detail.door_number %> <%= @user.user_detail.street %></p>
    <p><%= @user.user_detail.postcode %></p>
    <p><%= @user.user_detail.city %></p>
    <p>Your contact number is:<%= @user.user_detail.phone %></p>
    <br>
    <p>Delivery times at the moment is 3 working days.</p>
    <p>Meanwhile if you have any questions please contact us on <strong>support@nessycrativitycrafts.com</strong> </p>
    <p>Thank you</p>
  </div>
  <p><strong> Regards</strong></p>
  <p><strong>"NCC Team"</strong> </p>
  <br>
  <div style="width: 80%; height: 1px; background-color: rgb(87, 70, 167); margin: 0 auto;"></div>
    <p >© 2021 <span style="color:  rgb(236, 5, 141);">Nessy</span > <span style="color: rgb(87, 70, 167);">Creativity Crafts</span></p>
</body>
</html>


