
<div class="form-wrap mb-6">
  <h3 class="text-center text-5xl my-6">Resend unlock instructions</h3>

  <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>
    <%= f.full_error :unlock_token %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <div class="hr"></div>
    </div>

    <div class="form-actions mt-4">
      <%= f.button :submit, "Resend unlock instructions", class: "form-button " %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>