

<div class="footer h-100 p-3">
  <div class="container text-center">
    <br>
    <br>
    <p class="heading2">Follow Us</p>
    <p><a href="" target="blanked" class="s-media"><i class="fab fa-twitter"></i></a>
    <a href="#" target="blanked" class="s-media"><i class="fab fa-instagram"></i></a> <a href="#" target="blanked" class="s-media"><i class="fab fa-facebook-square"></i></a></p>
    <br>
    <div class="hr"></div>
    <br> 
      <p>
        <%= link_to "Terms & Conditions", terms_path, class: "footer-link" %>
        <span class="" >•</span>
        <%= link_to "Privacy & Cookies Policy", privacy_path, class: "footer-link" %>
        <span class="" >•</span>
        <%= link_to "Delivery", delivery_path, class: "footer-link" %>
        <span class="" >•</span>
        <%= link_to "Returns", returns_path, class: "footer-link" %>
        <span class="" >•</span>
        <%= link_to "Q&A", qanda_path, class: "footer-link" %>
        <span class="" >•</span>
        <%= link_to "Covid-19", covid_path, class: "footer-link" %>
      </p>
    <%# <%= image_tag "bank-cards.jpeg", class: "bank-cards" %> 
    <br>
    <p class="trademark">© 2021 <span class="second-color">Nessy</span > <span class="main-color">Creativity Crafts</span></p>
    
    <p><a href="https://www.db-uk.net/" target="_blank" class="text-dark text-decoration-none text-muted">created by  <strong class="db">db</strong> </a></p>
  </div>
</div>