<div class="container">
  <div class="banner">
    <div class="hero-text">
      <p class="text-special" data-aos="fade-down"  data-aos-duration="3000" style="font-size:60px"><span class="second-color">Nessy</span>  <span class="main-color">Creativity Crafts</span></p>
      <br>
      <br>
      <a href="#cards" class="shop-now"> SHOP NOW </a>
    </div>
  </div>
</div>
<br>
<br>

 

<div class="info mt-5">
  <div class="container">  
      <div class="container">
        <p data-aos="fade-right"  data-aos-duration="3000" class="heading2">High quality handmade business that delivers <span class="main-color"> creativity</span>  and handmade items paying close attention to details and <span class="second-color"> quality at affordable prices.</span>  Our products range from custom bracelets, glittered wine glasses, custom mugs and more.</p>
      </div>
      <br>
      <br>
      <div class="find-craft container">
        <p class="text-center heading2" data-aos="zoom-in-up">Find your perfect Craft</p>
      </div>
      <br>
      <br>

      <div class="flipping-cards" id="cards">
          <div class="flipping-card">
            <div class="front card-1">
              <p class="heading2">Mugs</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/2417857/pexels-photo-2417857.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Mugs" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 2 -->
          <div class="flipping-card">
            <div class="front card-2">
              <p class="heading2">Bracelets</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/371285/pexels-photo-371285.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Bracelets" />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
          <!-- card 3 -->
          <div class="flipping-card">
            <div class="front card-3">
              <p class="heading2">Glasses</p>
            </div>
            <div class="back">
              <img class="mb-4" src="https://images.pexels.com/photos/7184413/pexels-photo-7184413.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Glasses  " />
              <%= link_to "Shop", categories_path, class: "text-dark text-decoration-none" %>
            </div>
          </div>
        </div>
        <br>
    <%# -----------------touts---------------- %>
        <hr>
        <div class="touts d-flex justify-content-around align-items-center mt-5 mb-5">
          <div class="touts-element">
            <p>Only on<strong> NessyCreativityCrafts.com</strong></p> 
          </div>
          <div class="touts-element d-flex">
            <img class="touts-img" src="https://images.pexels.com/photos/194094/pexels-photo-194094.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="shipping">
            <p>FREE SHIPPING <br> (in orders over £30)</p>
          </div>
          <div class="touts-element d-flex">
            <img class="touts-img" src="https://images.pexels.com/photos/276267/pexels-photo-276267.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="samples">
            <p>Free goodies <br> (yes please)</p>
          </div>
          <div class="touts-element d-flex">
            <img class="touts-img" src="https://images.pexels.com/photos/360624/pexels-photo-360624.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="surprise">
            <p>Surprises <br> (you will love, Trust)</p>
          </div>
        </div>
        <hr>

<%# -------------hot items-------- %>

        <div class="hot-items mt-5">
          <p class="heading2 text-center">Hot Items this month!</p>
          <br>
          <div class="hot-items-body d-flex justify-content-around">
            <div  style="width: 18rem;">
              <img class="hot-item-img" src="https://images.pexels.com/photos/885218/pexels-photo-885218.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
              <div class="card-body">
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i> 
                <i class="far fa-star product-star"></i>
                <p class="card-title">Bracelet</p>
                <p class="card-text">Some quick example text to build on .</p>
                <p ><%=link_to "Buy for £9.99", category_products_path(2), class: "form-button btn-lg "  %></p>
              </div>
            </div>
            <div  style="width: 18rem;">
              <img class="hot-item-img" src="https://images.pexels.com/photos/1129482/pexels-photo-1129482.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
              <div class="card-body">
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i> 
                <i class="far fa-star product-star"></i>
                <p class="card-title">Sparkling wine glasss</p>
                <p class="card-text">Some quick example text to build on .</p>
                <p ><%=link_to "Get for £12.99", category_products_path(3), class: "form-button btn-lg "  %></p>
              </div>
            </div>
            <div  style="width: 18rem;">
              <img class="hot-item-img" src="https://images.pexels.com/photos/894608/pexels-photo-894608.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
              <div class="card-body">
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i>
                <i class="fas fa-star product-star"></i> 
                <i class="far fa-star product-star"></i>
                <p class="card-title">Bday Mug</p>
                <p class="card-text">Some quick example text to build on .</p>
                <p ><%=link_to "Add it for £10", category_products_path(1), class: "form-button btn-lg "  %></p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <p data-interval="2000" data-aos="fade-left"  data-aos-duration="3000" class="heading2">
          Celebrating the precious moments of life with handmade   <span class="main-color">crafts</span>  that give real meanings.
          Each one of our <span class="second-color"> handmade </span>   pieces is uniquely made just for you. With just the right designs, materials, and birthstones, your memories are captured in stunning personalized craft that speak beyond words.
          It’s a privilege to take part in your life’s journey and to see the joy our work gives you. And that’s the reason we <strong class="second-color"> Love</strong>  what we do!
        </p>
<%# --------how we do --------------------- %>
        <br>
        <br>
        <div class="how-we-do mb-5">
          <div class="hot-items-body d-flex justify-content-around">
            <div class="card" style="width: 30rem;">
              <div class="how-we-do-img">
                <img class="card-img-top" src="https://images.pexels.com/photos/3996289/pexels-photo-3996289.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
              </div>
              <div class="how-we-do-body">
                <p class="text-center heading2">How we create our crafts</p>
                <p class="text-center">What ever we do we do with Love!.</p>
                <p class="text-center"><%= link_to "Learn more!", about_path, class: "form-button btn-lg text-white" %></p>
              </div>
            </div>


            <div class="card" style="width: 30rem;">
              <div class="how-we-do-img">
                <img class="card-img-top" src="https://images.pexels.com/photos/3972013/pexels-photo-3972013.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap">
              </div>
              <div class="how-we-do-body">
                <p class="text-center heading2">How we started</p>
                <p class="text-center">We was insipred in early years.</p>
                <p class="text-center"><%= link_to "Read some more!", about_path, class: "form-button btn-lg text-white" %></p> 
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <%# ----------------ideas carousel------------------- %>
        <br>
        <div class="ideas mt-5 mb-5">
          <p class="heading2 text-center">You need some ideas...</p>
          <p class="text-center">Here are few suggestions...</p>
          <div class="images d-flex justify-content-around align-items-center">
            <p class="font-weight-bold h3"><</p>
            <img src="https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/6707628/pexels-photo-6707628.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/356043/pexels-photo-356043.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <img src="https://images.pexels.com/photos/5598296/pexels-photo-5598296.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="test">
            <p class="font-weight-bold h3">></p>
          </div>
        </div>





        
  </div>
</div>





<%# ------------------------contact us form -------------------%>
<br>
<br>
<div class="container mb-5">
  <div class="hr"></div>
  <section class="mb-4">
      <p class="heading2  text-center my-4">Contact us</p>
      <div class="contact-us-form">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
            a matter of hours to help you.</p>
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            > 
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
                <div class="hr"></div>
              </label> 
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
                <div class="hr"></div>
              </label>
              <label> 
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
                <div class="hr"></div>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary">Send</button>
            </form>
      </div>
  </section>
</div>




