<div class="banner">
  <%= video_tag "https://res.cloudinary.com/dxoo6hrvw/video/upload/v1630599332/Handmade_crafts._pgatjg.mp4", autoplay: true, muted: true, id: "myVideo", class: 'video' %>
  
</div>
  <%# ---- Arrow down animation --------- %>
<%# <div class="flex fustify-center items-center w-full">
  <div class="arrow-wrap ">
    <div class="arrow-down">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div> 
  </div>
</div> %> 
<div class="container my-10">
  <hr>
  <div class="lg:px-20 py-6 px-6 ">
    <p class="text-2xl my-10">High quality handmade business that delivers <span class="main-color"> creativity</span>  and handmade items paying close attention to details and <span class="second-color"> quality at affordable prices.</span>  Our products range from custom bracelets, glittered wine glasses, custom mugs and more.</p>
  </div>
  <hr>  
</div>
<div class="info">
  <div class="container">  
      <%# <div class="container">
        <p data-aos="fade-right"  data-aos-duration="3000" class="heading2">High quality handmade business that delivers <span class="main-color"> creativity</span>  and handmade items paying close attention to details and <span class="second-color"> quality at affordable prices.</span>  Our products range from custom bracelets, glittered wine glasses, custom mugs and more.</p>
      </div> %>

      <%# <div class="find-craft container">
        <p class="text-center heading2" data-aos="zoom-in-up">Find your perfect Craft</p>
      </div> %>

      <%# ----------flipping cards ------- %>
      <div class="flipping-cards" id="cards">
        <% @categories.each do |category|%>
          <%# -------- Mugs ---------------- %>
          <div class="flipping-card rounded-xl ">
            <div class="front card-1 rounded-xl">
              <p class="md:text-3xl text-xs"><%= category.title %> <br>( <%= category.products.count %>   )</p>
            </div>
            <div class="back rounded-xl">
              <img class="mb-1 flip-pic rounded-xl" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906860/NCC/1_bggu3t.png" alt="Mugs" />
              <%= link_to "Buy Now", category_products_path(category), class: "text-black md:text-2xl md:pt-2 text-sm  " %>
            </div>
          </div>
        <% end %>          
      </div>
      <br>
    <%# -----------------touts---------------- %>
        <hr>
        <div class="touts d-flex justify-content-around align-items-center mt-5 mb-5">
          <div class="touts-element">
            <p>Only on<strong> NessyCreativityCrafts.com</strong></p> 
          </div>
          <div class="touts-element d-flex">
            <%= image_tag("airplane.png", :class => "touts-img") %>
            <p>FREE SHIPPING <br> (in orders over £30)</p>
          </div>
          <div class="touts-element d-flex">
            <%= image_tag("shopping-bag.png", :class => "touts-img") %>
            <p>Free goodies <br> (yes please)</p>
          </div>
          <div class="touts-element d-flex">
            <%= image_tag("sun.png", :class => "touts-img") %>
            <p>Surprises <br> (you will love, Trust)</p>
          </div>
        </div>
        <hr>
 
<%# -------------hot items-------- %>

        <div class="hot-items mt-5">
          <p class="heading2 text-center">Hot Items this month!</p>
          <br>
          <div class="hot-items-body d-flex justify-around">
            <div  class=" box-shadow md:w-1/4 min-w-1/3 md:py-6 mx-2 h-full">
              <img class="md:p-3" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906918/NCC/3_gb1wd3.png" alt="Card image cap">
              <div class="">
                <p class="text-xl text-center">Bracelet</p>
                <div class="flex justify-center my-2"> 
                  <p class='mt-1'><%=link_to "£9.99", category_products_path(2), class: "form-button  px-6 py-2"  %></p>
                </div>
              </div>
            </div>
            <div  class=" box-shadow md:w-1/4 min-w-1/3 md:py-6 mx-2 h-full">
              <img class="md:p-3" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906984/NCC/1_afgf7t.png" alt="Card image cap">
              <div class="">
                <p class="text-xl text-center">Sparkling wine glasss</p>
                <div class="flex justify-center my-2">
                  <p class='mt-1'><%=link_to "£12.99", category_products_path(3), class: "form-button px-6 py-2"  %></p>
                </div>
              </div>
            </div>
            <div  class=" box-shadow md:w-1/4 min-w-1/3 md:py-6 mx-2 h-full">
              <img class="md:p-3" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906940/NCC/4_wgf3kz.png" alt="Card image cap">
              <div class="">
                <p class="text-xl text-center">Domino</p>
                <div class="flex justify-center my-2">
                  <p class='mx-auto '><%=link_to "£10", category_products_path(1), class: "form-button px-6 py-2"  %></p>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        
        <div class="container my-10">
          <hr>
          <div class="lg:px-20 py-6 px-6 ">
            <p class="text-2xl my-10">
              Celebrating the precious moments of life with handmade   <span class="main-color">crafts</span>  that give real meanings.
              Each one of our <span class="second-color"> handmade </span>   pieces is uniquely made just for you. With just the right designs, materials, and birthstones, your memories are captured in stunning personalized craft that speak beyond words.
              It’s a privilege to take part in your life’s journey and to see the joy our work gives you. And that’s the reason we <strong class="second-color"> Love</strong>  what we do!
            </p>
          </div>
          <hr>  
        </div>
<%# --------how we do --------------------- %>
        <div class="how-we-do mb-5">
          <div class="hot-items-body d-flex justify-content-around">
            <div class="card box-shadow mx-1" style="width: 30rem;">
              <div class="how-we-do-img">
                <img class="card-img-top" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1626115193/NCC/how-we-work_ouw6sy.jpg" alt="Card image cap">
              </div>
              <div class="how-we-do-body flex flex-column justify-around">
                <p class="text-center heading2">How we work</p>
                <p class="text-center small-txt">What ever we do we do with Love!.</p>
                <p class="text-center mt-1"><%= link_to "Learn more!", about_path, class: "form-button btn-lg text-white " %></p>
              </div>
            </div>
            <div class="card box-shadow mx-1" style="width: 30rem;">
              <div class="how-we-do-img">
                <img class="card-img-top" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1626115193/NCC/how-we-started_msrcar.jpg" alt="Card image cap">
              </div>
              <div class="how-we-do-body flex flex-column justify-around">
                <p class="text-center heading2">How we started</p>
                <p class="text-center small-txt">We was insipred in early years.</p>
                <p class="text-center mt-1"><%= link_to "Read some more!", about_path, class: "form-button btn-lg text-white " %></p> 
              </div>
            </div>
          </div>
        </div>
        <%# ----------------ideas carousel------------------- %>
        <div class="ideas mt-5 mb-5">
          <p class="heading2 text-center">You need some ideas...</p>
          <p class="text-center">Here are few suggestions...</p>
          <br>
          <!-- Container for the image gallery -->
          <div class="container">
              <div class="container-carousel mx-auto md:w-2/3">
                <div class="mySlides">
                  
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906963/NCC/1_g2geky.png" class="w-full md:w-2/4" >
                </div>

                <div class="mySlides">
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906941/NCC/3_w9cowo.png" class="w-full md:w-2/4" >
                </div>

                <div class="mySlides">
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906916/NCC/5_fesq26.png" class="w-full md:w-2/4">
                </div>

                <div class="mySlides">
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906892/NCC/3_bvxfah.png" class="w-full md:w-2/4">
                </div>

                <div class="mySlides">
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906860/NCC/1_bggu3t.png" class="w-full md:w-2/4">
                </div>

                <div class="mySlides">
                    <img src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906890/NCC/5_uoslei.png" class="w-full md:w-2/4">
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <!-- Image text -->
                <div class="caption-container ">
                  <p id="caption" class="p-0 mx-auto"></p>
                </div>

                <!-- Thumbnail images -->
                <div class="carousel-row">
                  <div class="column">
                    <img class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906963/NCC/1_g2geky.png" style="width:100%" onclick="currentSlide(1)" alt="Custom letters Key Chain">
                  </div>
                  <div class="column">
                    <img  class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906941/NCC/3_w9cowo.png" style="width:100%" onclick="currentSlide(2)" alt="Colorful Art Domino">
                  </div>
                  <div class="column">
                    <img class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906916/NCC/5_fesq26.png" style="width:100%" onclick="currentSlide(3)" alt="Personalised Bracelet">
                  </div>
                  <div class="column">
                    <img class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906892/NCC/3_bvxfah.png" style="width:100%" onclick="currentSlide(4)" alt="Art Human Body">
                  </div>
                  <div class="column">
                    <img class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906860/NCC/1_bggu3t.png" style="width:100%" onclick="currentSlide(5)" alt="Personalised Mug">
                  </div>
                  <div class="column">
                    <img class="demo cursor" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1627906890/NCC/5_uoslei.png" style="width:100%" onclick="currentSlide(6)" alt="Body Key Chain">
                  </div>
                </div>
              </div>
          </div>
        </div> 
  </div>
</div>

<%# ------------------------contact us form -------------------%>
<br>
<br>
<div class="container mb-5 ">
  <section class="mb-4">
      <p class="heading2  text-center my-4">Contact us</p>
      <div class="contact-us-form ">
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. We will come back to you within
            a matter of hours to help you.</p>
            <form
              action="https://formspree.io/f/xbjpaprp"
              method="POST"
              class="form pt-4"
            > 
              <label>
                Full Name:
                <input type="text" name="name" class="form-control input">
                <div class="hr"></div>
              </label> 
              <label>
                Email:
                <input type="text" name="_replyto" class="form-control input">
                <div class="hr"></div>
              </label>
              <label> 
                Your message:
                <textarea name="message" class="form-control text-area"></textarea>
                <div class="hr"></div>
              </label>
               <button type="submit" class="btn-lg btn-outline-primary text-white">Send</button>
            </form>
      </div>
  </section>
</div>
<%# -------------------free shipping ----------------------- %>
<hr>
<div class="sm:px-12 px-4 md:flex md:justify-around">
  
  <div class="my-6 flex">
      <div class='flex content-center items-center'>
        <span class="text-5xl text-gray-500"><i class="fas fa-shipping-fast"></i></span> 
      </div>
      <div class='mx-4'>
        <h2 class="text-2xl my-2 font-medium text-gray-700">Free Shipping</h2>
        <p>Free shipping on all UK orders</p>
      </div>
  </div>
  <div class="my-6 flex">
      <div class='flex content-center items-center'>
        <span class="text-5xl text-gray-500"><i class="fas fa-headset"></i></span> 
      </div>
      <div class='mx-4'>
        <h2 class="text-2xl my-2 font-medium text-gray-700">Support</h2>
        <p>Email us 24/7</p>
      </div>
  </div>
  <div class="my-6 flex">
      <div class='flex content-center items-center'>
        <span class="text-5xl text-gray-500"><i class="fas fa-undo"></i></span> 
      </div>
      <div class='mx-4'>
        <h2 class="text-2xl my-2 font-medium text-gray-700">30 days return</h2>
        <p>Simply return it within 30 days for an exchange</p>
      </div>
  </div>
</div>
<hr>
<br>
<div class="insta rounded mx-auto w-10/12">
  <p class="text-center text-5xl text-white py-8">Follow our <i class="fab fa-instagram "></i></p>
  <a href="https://www.instagram.com/nessycreativitycrafts" target="_blanked">
    <div class="flex flex-wrap justify-center p-1">
      <div class="insta-div m-1">
        <img class=" border-2 border-white  insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705205/NCC/Screenshot_20210903-223217_Instagram_jkftws.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705203/NCC/Screenshot_20210903-223000_Instagram_yiaczu.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
        <%# <img class=" border-2 border-white " src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705206/NCC/Screenshot_20210903-222924_Instagram_dlgibm.jpg" alt=""> %>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705206/NCC/Screenshot_20210903-223026_Instagram_ocsete.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705208/NCC/Screenshot_20210903-222955_Instagram_ifzyip.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705210/NCC/Screenshot_20210903-223052_Instagram_pzcok1.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705212/NCC/Screenshot_20210903-222836_Instagram_rbcnxd.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705212/NCC/Screenshot_20210903-223008_Instagram_fmaynw.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
      <div class="insta-div m-1">
        <img class=" border-2 border-white insta-img" src="https://res.cloudinary.com/dxoo6hrvw/image/upload/v1630705213/NCC/Screenshot_20210903-223016_Instagram_hky0hv.jpg" alt="">
        <div class="insta-mid">
          <div >
            <p><i class="far fa-heart text-6xl text-white"></i></p>
          </div>
        </div>
      </div>
  </div>
  </a>
</div>
<br>
<div class="mt-10">
  <p class="text-center text-3xl">Quick Links</p>
</div>
<div class='flex flex-wrap justify-center mx-auto my-6'>
  <% categories.each do |category|%>
    <div class="box-shadow px-4 py-2 m-2">
      <p class="text-2xl"><%=link_to category.title, category_products_path(category), class: "hover:text-purple-800"  %></p>
    </div>
  <% end %>
</div>

<%# ------------- Cookie Modal --------------------- %>

