
<div class="lg:px-16 py-6 px-6"> 
  <div class=" text-center">
      <% if @user.user_detail == nil %>
        <h3 class="text-center text-5xl my-6">Please add your details</h3>
        <br>
        <br>
        <div class="hr"></div>
        <p class="my-40 "> <%= link_to "Add details", new_user_detail_path, class: "form-button btn-lg px-12 py-6 text-2xl" %> </p>
      <% end %>
  </div>
  <div class="profile  mb-5">

      <% if @user.user_detail != nil %>
      <h3 class="text-center text-5xl my-6">Welcome to your profile page <strong><%= @user.user_detail.f_name %></strong></h3>
      <br>
      <div class="hr"></div>
      <br>
      <p class="heading2 text-center">Here are your details...</p>
      <br>
      <div class="md:w-2/4 w-full mx-auto my-20 px-6">
        <p ><strong>First name - </strong><%= @user.user_detail.f_name %></p>
        <p ><strong>Last name - </strong> <%= @user.user_detail.l_name %></p>
        <% if current_cart.items_count == 0%>
          <p><strong>Cart -  </strong> empty at the moment <%= link_to "Show me products", categories_path, class: "btn btn-success" %></p>
        <% else %>
          <p><strong>Cart -  </strong><%= current_cart.items_count %> items <%= link_to "Checkout Now", cart_path, class: "btn btn-success" %></p>
        <% end %>
        <p> <strong>Email - </strong> <%= @user.email %></p>

            <p><strong>Address - </strong> <%= @user.user_detail.door_number %> <%= @user.user_detail.street %>, <%= @user.user_detail.city %></p>
            <p><strong> Postcode - </strong><%= @user.user_detail.postcode %></p>
            <p><strong>Contact number - </strong> <%= @user.user_detail.phone %></p>

          <!-- Buttons -->
          <%= link_to "Update", edit_user_detail_path(@user.user_detail), class: 'btn btn-info mb-2' %>
          <%= link_to user_detail_path(@user.user_detail),
                      method: :delete,
                      data: { confirm: "Are you sure you want to delete?" },
                      class: 'btn bg-red-500 text-white hover:bg-red-600 mb-2' do %>
          Delete <i class="far fa-trash-alt"></i>
          <% end %>
          <br>
          <br>
          <%# ~TODO add link with all prevous purchases that been successful  %>
            <%# <%= current_user.purchases.all %> 
      <% end %>
    </div>
  </div>
</div>

