<div class="container">
  <%# <div class="row py-4"> %>
    <%# <div class="col-md-3"></div> %>
    <%# <div class="col"> %>
      <% if @user.user_detail != nil%>
        <p class="heading2 text-center">Checkout summary</p>
        <br>
        <div class="hr"></div>
        <br>
        <ul>
          <% @cart.each do |item| %>
            <li><p>Product: <%= item.product.title %></p></li>
            <li><p>Proce: <%= humanized_money_with_symbol(item.price) %> </p></li>
            <li><p>Quantity: <%= item.quantity %></p></li>
          <% end %>
        </ul>
        <p class="heading2">Total including discounts: <strong><%= humanized_money_with_symbol @purchase.amount %></strong></p>
        
        <br>
        <button id="pay" class="form-button btn-lg text-white">Pay now</button>
        <script src="https://js.stripe.com/v3/"></script>
        <script>
          const paymentButton = document.getElementById('pay');
          paymentButton.addEventListener('click', () => {
            const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
            stripe.redirectToCheckout({
              sessionId: '<%= @purchase.checkout_session_id %>'
            });
          }); 
        </script>
      <% else %>
        <br>
        <p class="heading2 text-center">Please add your personal details to proceed to payment!</p>
        <br>
        <div class="hr"></div>
        <br>
        <br>
        <br>
        <br>
        <p class="text-center "><%= link_to "Return to My profile", profile_path, class: 'form-button btn-lg text-white'  %></p> 
      <% end %>
    <%# </div> %>
  <%# </div> %>
</div>