<div class="lg:px-16 py-6 px-6">
      <% if @user.user_detail != nil%>
        <h3 class="text-center text-3xl my-6">Checkout Summary</h3>
        <br>
        <div class="hr my-6"></div>
        <br>
        <div class="flex flex-wrap  mx-4 my-6 justify-around">
          <% @cart.each do |item| %>
            <div class='lg:w-1/4 my-2 md:w-1/3 w-3/4 box-shadow md:px-2 md:mx-6 px-6 py-6 '>
              <p class="text-xl mb-2"><strong> <%= item.product.title %></strong></p>
              <ul>
                <li><p><strong>Proce: </strong><%= humanized_money_with_symbol(item.price) %> </p></li>
                <li><p><strong>Quantity: </strong><%= item.quantity %></p></li>
                <li><p><strong>Personal message: </strong><%= item.message %></p></li>
                <li><p><strong>Colour: </strong><%= item.color %></p></li>
                <li><p><strong>Size: </strong><%= item.size %></p></li>
              </ul>
            </div>
          <% end %>
        </div>
        <br>
        <div class="flex justify-between items-center">
          <p >  <%= link_to "Go back", cart_path, class: "px-10 py-3 form-button"%></p>
          <button id="pay" class="form-button text-2xl px-10 py-2 text-white m-0">Pay <strong><%= humanized_money_with_symbol @purchase.amount %></strong></button>
          <script src="https://js.stripe.com/v3/"></script>
          <script>
            const paymentButton = document.getElementById('pay');
            paymentButton.addEventListener('click', () => {
              const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
              stripe.redirectToCheckout({
                sessionId: '<%= @purchase.checkout_session_id %>'
              });
            }); 
          </script>
        </div>
      <% else %>
        <br>
        <p class="heading2 text-center">Please add your personal details to proceed to payment!</p>
        <br>
        <div class="hr"></div>
        <br>
        <br>
        <br>
        <br>
        <p class="text-center "><%= link_to "Return to My profile", profile_path, class: 'form-button btn-lg text-white'  %></p> 
      <% end %>
</div>