<div class="container">
  <% unless @items.count > 0 %>
      <p class="heading2 text-center mt-5">Your cart is empty at the moment,please continue shopping.</p>
      <div class="hr mt-5"></div> 
      <br>
      <br>
      <p class="heading2 text-center mt-5">Go back and browse trhough our amazing products, you can find the perfect gift for your special one. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident modi veniam mollitia rem laboriosam, minima rerum iste esse necessitatibus cumque?</p>
  <% else%>
      <% if @user.user_detail != nil%>
        <p class="heading2 text-center"><strong><%= @user.user_detail.f_name %>`s</strong>  Cart</p>
      <% else %>
        <p class="heading2 text-center">Checkout</p>
        <div class="hr mt-5"></div>
      <% end %>
  <% end %> 
  <br> 
  <br> 
  <div class="cart-wrap">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-12">
          <div class="cart-body mb-4  box-shadow p-3">
            <div class="cart-image">
              <%= image_tag item.product.photo_1, class: "cart-product-image" %>
            </div>
            <div class="cart-product-title">
              <p><%= item.product.title %></p> </p> 
            </div>
            <div class="cart-product-price">
              <p><%= humanized_money_with_symbol(item.price) %> </p>
            </div>
            <div class="cart-product-quantity">
              <p class="pl-3"><%= item.quantity  %></p>
            </div>
            <div class="cart-product-quantity">
              <p class="pl-3"><%= item.message  %></p>
            </div>
            <div class="cart-product-quantity">
              <p class="pl-3"><%= item.product_id  %></p>
            </div>
            <% if  item.product.category.title == 'Personalised Mugs' %>
              <div class="cart-product-quantity">
                Your image:
                <%= image_tag item.user_pic, class: 'w-25' %>
              </div>
            <% end %>
            <div class="cart-product-quantity">
              <p class="pl-3"><%= item.color  %></p>
            </div>
            <div class="cart-product-quantity">
              <p class="pl-3"><%= item.size  %></p>
            </div>
            <div class="cart-submit">  
            </div>
            <div class="cart-delete">
              <p>
                <%= form_for item, method: :delete do |f| %>
                  <%= f.submit 'Remove', class: "remove-btn" %>
                <% end %>
              </p>
            </div>
          </div>
          <%# <hr> %>
          
        </div>
      <% end %>
      <p class="heading2">You have <strong><%= current_cart.items_count %></strong> items in your Cart!</p>
      <div class="d-flex justify-content-between p-5 w-100 "> 
        <% if @items.count > 0 && current_cart.sub_total.to_f >= 3000%>
        <%# --------- Total INCLUDING discount ove £30 spent -----------------%>
          <p class="heading2">Total Amount: <strong><%= humanized_money_with_symbol(current_cart.sub_total.to_f / 120) %></strong></p>  
          <br> 
          <p>You save: <%= humanized_money_with_symbol((current_cart.sub_total.to_f / 100) - (current_cart.sub_total.to_f / 120)) %></p>
          <div>
            <%= form_tag purchases_path do %> 
              <%= submit_tag 'Go to checkout', class: 'form-button p-2 text-white' %>
            <% end %>
          </div>
          <% elsif @items.count > 0 %>
            <%# ---------- Total WITHOUT discount -----------%>
            <p class="heading2">Total Amount: <strong><%= humanized_money_with_symbol(current_cart.sub_total.to_f / 100) %></strong></p>  
            <br>
            <div>
              <%= form_tag purchases_path do %>
                <%= submit_tag 'Go to checkout', class: 'form-button p-2 text-white' %>
              <% end %>
            </div>
          <% else %>
          <%# ----------- EMPTY Cart ------------ %>
          <p class="heading2">Total Amount: <strong>£0</strong></p>
        <% end %>
      </div>
    </div>
  </div>
  <br>
  <p class="text-center mt-5"><%= link_to "Continue shopping", categories_path, class: "form-button btn-lg text-white" %></p>
  <br>
  
  <div class=" d-flex justify-content-center">
      <p class="p-5 heading2"><%=link_to "Mugs", category_products_path(1), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Bracelets", category_products_path(2), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Glasses", category_products_path(3), class: "nav-link text-dark"  %></p>
    </div>
    <div class=" d-flex justify-content-center">
      <p class="p-5 heading2"><%=link_to "Key Chain", category_products_path(4), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Domino", category_products_path(5), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Body Key Chain", category_products_path(6), class: "nav-link text-dark"  %></p>
  </div>
  <hr>
</div>

