
 <% unless @items.count > 0 %>
    <h2>Your cart is empty at the moment,please continue shopping.</h2>
    <%= link_to "Shop", categories_path %>
<% else %>
    <h2>Your Cart</h2>
    
<% end %>

<table>
  <thead>
    <tr>
      <td class="font-weight-bold">Product</td>
      <td class="font-weight-bold">Price</td>
      <td class="font-weight-bold">Quantity</td> 
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="w-25"><%= image_tag item.product.images, class: "w-75" %>
        <br> <%= item.product.title %></td> 
        
        <td><%= humanized_money_with_symbol(item.price) %> </td>
        <td class="pl-3"><%= item.quantity  %></td>

        <%= form_tag purchases_path do %>
            <%= hidden_field_tag 'item_id', item.id%> 
            <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
        <% end %>

        <td>
          <%= form_for item, method: :delete do |f| %>
            <%= f.submit "Remove" %> 
          <% end %>
        </td>
        </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4" align="right"> 
        Amount: <%= humanized_money_with_symbol(current_cart.sub_total.to_f / 100) %> 
      </td>
    </tr>
  </tfoot>
</table>
<br>
<br>
 



<%# <%= link_to 'Checkout', checkout_path %> 