<div class="container">
  <p class="heading2 text-center">Here are our product categories </p>
  <div class="hr mt-5 mb-5"></div>
  <%# (<%= @categories.length %>
  <div class="row">
    <% @categories.each do |category|%>
      <div class="col-12 ">
        <div class="category-card mb-5 box-shadow">
          <div class="category-body text-left ">
              <div class="pl-5 pr-5" >
                <p class="heading2"><%= category.title %></p> 
                <p>( <%= category.products.count %> products )</p>
                <p> <%= category.description %></p>
                <br>
                <%# ------- displaying ID of category ---------------- %>
                <p><%= category.id %> </p>
                <%# ---------TODO CHANGE ABOVE----------- %>
                <p><%=link_to "Shop now", category_products_path(category), class: "form-button btn-lg text-white"  %></p>
              </div>
          </div>
          <div class="category-image-div">
              <%= image_tag category.images , class: "category-image" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
