<div class="container">
  <p class="heading2 text-center my-6 text-5xl">Browse categories </p>
  <div class="hr mt-5 mb-5"></div>
  <%# (<%= @categories.length %>
  <div class="">
    <% @categories.each do |category|%>
      <div class="w-full ">
        <div class="flex category-card lg:w-4/5 mx-auto my-12 box-shadow shadow-md rounded h-full flex-wrap">
          <div class="category-body text-left md:w-2/4 my-12">
              <div class="pl-5 pr-5" >
                <p class="heading2"><%= category.title %></p> 
                <p>( <%= category.products.count %> products )</p>
                <p> <%= category.description %></p>
                <br>

                <p><%=link_to "Shop now", category_products_path(category), class: "form-button btn-lg text-white"  %></p>
              </div>
          </div>
          <div class="category-image-div md:w-1/4 m-12">
              <%= image_tag category.images , class: "w-full" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
