



<div class="container">
  <h2>Here are our product categories </h2>
  <%# (<%= @categories.length %>
  <div class="row">
    <% @categories.each do |category|%>
      <div class="col-6 col-md-4">
        <div class="card">
          <%# <%= image_tag category.product.images , class: "card-img-top" %> 
          <div class="card-body">
            <%=link_to category_products_path(category) do %>
              <%= category.title %>
               ( <%= category.products.count %> )
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>