



<div class="container">
  <h2>Categories </h2>
  <%# (<%= @categories.length %>
  <div class="row">
    <% @categories.each do |category|%>
      <div class="col-6 col-md-4">
        <div class="card">
          <%# <%= image_tag product.img , class: "card-img-top"  %>
          <div class="card-body">
            <%=link_to category_products_path(category) do %>
              <%= category.title %>
              <%# (<%= category.products_count products%>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>