<div class="container">
  <p class="heading2 text-center">Here are our <%= @category.title %></p>
  <div class="hr mb-5"></div>
  <br>
  <h5>Please use the "Personal message area to add specific enquaries as: <br> 'Personal Name' <br> 'Desired Letter' <br> 'Shape of Body Chain' <br> 'Any message you want to include to your order'.x</h5>
  <br>
  <div class="row">
    <% @products.each do |product| %> 
      <div class="col-12 ">
        <div class="product-wrap box-shadow mb-4 p-3" > 
          <div class="product-image-div ">
            <%= image_tag product.images, class: "product-image" %>
          </div>
          <div class="product-card">
            <p class="heading2 mt-0 mb-1"><%= product.title %> </p> 
            <br>
            <%= product.description %> 
            <br>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i> 
            <i class="far fa-star product-star"></i>
            <br>
            <br>
            <strong><h4><%= humanized_money_with_symbol(product.price) %></h4> </strong> 
          </div>
          <div class="product-body">
            <% case product.category.title%>
                <% when 'Personalised Mugs'%>
                  <%= form_tag order_items_path, multipart: true do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <%# TODO style the file upload %>
                        <div class="d-flex"> 
                            <label for="file">File to Upload</label> <%= file_field_tag 'user_pic', accept: 'image/png,image/gif,image/jpeg' %>
                        </div>
                        <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <% when 'Custom Bracelets'%>
                  <%= form_tag order_items_path do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <strong>Size</strong> 
                        <br>
                        <%= radio_button_tag 'size', "small", false, class: "size_input" %> S
                        <%= radio_button_tag 'size', "medium", false, class: "size_input" %> M
                        <%= radio_button_tag 'size', "large", false, class: "size_input" %> L
                        <br>
                        <strong>Colour</strong> 
                        <br>
                        <%= radio_button_tag 'color', "green", false, class: "color_input" %> Green
                        <%= radio_button_tag 'color', "red", false, class: "color_input" %> Red
                        <%= radio_button_tag 'color', "blue", false, class: "color_input" %> Blue
                      <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <% when 'Glitter Glasses'%> 
                  <%= form_tag order_items_path do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <strong>Colour</strong> 
                        <br>
                        <%= radio_button_tag 'color', "green", false, class: "color_input" %> green
                        <%= radio_button_tag 'color', "red", false, class: "color_input" %> red
                        <%= radio_button_tag 'color', "blue", false, class: "color_input" %> blue
                      <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <%when 'Key Chain'%> 
                  <%= form_tag order_items_path do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <strong>Colour</strong> 
                        <br>
                        <%= radio_button_tag 'color', "green", false, class: "color_input" %> green
                        <%= radio_button_tag 'color', "red", false, class: "color_input" %> red
                        <%= radio_button_tag 'color', "blue", false, class: "color_input" %> blue
                      <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <%when 'Art Domino'%> 
                  <%= form_tag order_items_path do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <strong>Colour</strong> 
                        <br>
                        <%= radio_button_tag 'color', "green", false, class: "color_input" %> green
                        <%= radio_button_tag 'color', "red", false, class: "color_input" %> red
                        <%= radio_button_tag 'color', "blue", false, class: "color_input" %> blue
                      <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <%when 'Body Key Chain'%> 
                  <%= form_tag order_items_path do %>
                    <%= hidden_field_tag :product_id, product.id%>
                    <strong>QTY:</strong>  <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                        <br>
                        <strong>Personal message</strong> 
                        <br>
                        <%= text_area_tag 'message', "", size: "20x3" %>
                        <br>
                        <strong>Colour</strong> 
                        <br>
                        <%= radio_button_tag 'color', "green", false, class: "color_input" %> green
                        <%= radio_button_tag 'color', "red", false, class: "color_input" %> red
                        <%= radio_button_tag 'color', "blue", false, class: "color_input" %> blue
                      <br>
                      <%= button_tag(type: 'submit', class: "btn-lg form-button", title: 'Add to cart') do
                        content_tag(:strong, 'Add to cart') 
                      end %>
                  <% end %>
                <%else%> 
                  "Something went wrong!"
                <%end %> 
              
            </div>
        </div> 
      </div>
    <% end %>
  </div>
  <div class=" d-flex justify-content-between">
    <p class="text-center mt-5">  <%= link_to "Back", categories_path, class: "btn-lg form-button" %></p>
    <p class="text-center mt-5">  <%= link_to "Checkout", cart_path, class: "btn-lg form-button"%></p>
  </div>
  <br>
  <div class=" d-flex justify-content-center">
      <p class="p-5 heading2"><%=link_to "Mugs", category_products_path(1), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Bracelets", category_products_path(2), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Glasses", category_products_path(3), class: "nav-link text-dark"  %></p>
    </div>
    <div class=" d-flex justify-content-center">
      <p class="p-5 heading2"><%=link_to "Key Chain", category_products_path(4), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Domino", category_products_path(5), class: "nav-link text-dark"  %></p>
      <p class="p-5 heading2"><%=link_to "Body Key Chain", category_products_path(6), class: "nav-link text-dark"  %></p>
  </div>
</div>

