<div class="container">
  <p class="heading2 text-center">Here are our <%= @category.title %></p>
  <div class="hr mb-5"></div>
  <div class="row">
    <% @products.each do |product| %> 
      <div class="col-12 ">
        <div class="product-wrap"> 
          <div class="product-image-div">
            <%= image_tag product.images, class: "product-image" %>
          </div>
          <div class="product-card">
            <p class="heading2 mt-0 mb-1"><%= product.title %> </p> 
            <strong><%= humanized_money_with_symbol(product.price) %></strong> 
            <br>
            <%= product.description %> 
            <br>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i> 
            <i class="far fa-star product-star"></i>
          </div>
          <div class="product-body">
              <%= form_tag order_items_path do %>
                <%= hidden_field_tag :product_id, product.id%>
                <p>Quantity</p> <%= number_field_tag :quantity, 1, class: "product-number-field"%>
                  <%= button_tag :submit, class: "product-submit" do %>
                    <i class="far fa-heart product-heart"></i>
                  <% end %>
                  <p class="popover-cart">Add to cart</p>
                  
                
              <% end %>  
            </div>
        </div>
        <%# <div class="hr mt-5"></div> %>
        <hr>
      </div>
    <% end %>
  </div>
  <p class="text-center mt-5">  <%= link_to "Back", categories_path, class: "btn-lg form-button" %>
</p>

</div>

