<div class="container px-12">
  <div class="my-6">
    <p class="heading2 text-center my-6 text-5xl"><%= @category.title %></p>
    <div class="hr "></div> 
  </div>
  <br>
  <div class="text-center px-6">
    <h5 class="text-2xl font-normal">Please use the "Personal message area to add specific enquaries as: </h5>
    <br>
    <p>'Personal Name' </p> 
    <p>'Desired Letter' </p>
    <p>'Shape of Body Chain' </p>
    <p>'Any message you want to include to your order' </p>
  </div>
  <div class="flex flex-wrap justify-around">
    <% @products.each do |product| %> 
      <%= link_to category_product_path(@category.id, product.id), class: 'hover:no-underline hover:text-purple-800 md:w-1/3 mx-6' do %> 
      <%# <div class="  "> %>
        <div class=" box-shadow shadow-md py-6 px-6 lg:px-12 my-6 " > 
        <%= image_tag product.photo_1, class: 'product-image ', alt: 'imageeee' %>
          <%# <div class="product-card"> %>
            <h5 class="mt-2 text-2xl"><%= product.title %></h5>  
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i>
            <i class="fas fa-star product-star"></i> 
            <i class="far fa-star product-star"></i>
            <br>
            <strong><h4 class="text-2xl"><%= humanized_money_with_symbol(product.price) %></h4> </strong> 
          <%# </div> %>
        </div> 
      <%# </div> %>
      <% end %>
    <% end %>
  </div>
  <div class=" d-flex justify-content-between">
    <p class="text-center mt-5">  <%= link_to "Back", categories_path, class: "btn-lg form-button" %></p>
    <p class="text-center mt-5">  <%= link_to "Checkout", cart_path, class: "btn-lg form-button"%></p>
  </div>
  <br> 
  <%# iterate over categories and display links  %>
    <h3 class='text-5xl text-center mt-6'>Go back to Categories</h3>
    <div class='flex flex-wrap justify-around h-60 my-6 w-1/2 mx-auto mb-6'>
      <% @categories.each do |category|%>
        <p class="text-2xl"><%=link_to category.title, category_products_path(category), class: "
         hover:text-purple-800"  %></p>
      <% end %>
    </div>
</div>

