<%= simple_form_for [ @user, @user_detail ] do |f| %>
<div class="form-wrap">
      <%= f.input :f_name,
                  label: "First Name" %>
      <div class="hr"></div>
      <%= f.input :l_name,
                  label: "Last Name" %>
      <div class="hr"></div>
      <%= f.input :address,
                  label: "Home Address" %>
      <div class="hr"></div>
      <%= f.input :postcode,
                  label: "Postcode" %>
      <div class="hr"></div>
      <%= f.input :phone,
                  label: "Phone Number" %>
      <div class="hr"></div>
      <%# <%= f.input :photo, as: :file, label: 'Profile Picture' %> 
      <%# <div class="hr"></div> %>
  <div class="form-actions mt-4">
    <%= f.submit 'Update', class: "form-button btn-lg" %>
  </div>
  
</div>
  <% end %>