<div class="container">
  <div class="profile-container pt-3 text-center">
    <p class="heading2 text-center">You succesfuly have add/changed your details</p>
  </div>
  <br>
  <div class="hr"></div>
  <br>
  <br>
  <div class="profile-details mb-5">
    <% if @user_detail.photo.attached? %>
    <%= cl_image_tag @user_detail.photo.key, width: 360, fetch_format: :auto, quality: :auto, class: 'cloudinary-img responsive-img-phone' %>
    <% end %>

    <p ><strong>First name - </strong><%= @user_detail.f_name %></p>
    <p ><strong>Last name - </strong> <%= @user_detail.l_name %></p>
    <p><strong>Address - </strong> <%= @user_detail.door_number %> <%= @user_detail.street %>, <%= @user_detail.city %></p>
    <p><strong>Postcode - </strong><%= @user_detail.postcode %></p>
    <p><strong>Contact number - </strong> <%= @user_detail.phone %></p>
    <br>
    <p><strong>Something looks wrong?   </strong> 
      <%= link_to "Change and update", edit_user_detail_path(@user_detail), class: 'btn btn-info mb-2' %></p> 
    
    <br>
    <%= link_to "Return to My profile", profile_path, class: 'form-button btn-lg text-white'  %>
  </div>
</div>





 


