<!DOCTYPE html>
<html>
  <head>
    <title>Nessy Creativity Crafts</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="description" content="High quality handmade business that delivers creativity and handmade items paying close attention to details and quality at affordable prices." />
    <meta property="og:image" content="<%= 'logo.jpg' %>" />
    <meta property="og:url" content="(THE CURRENT REQUESTED URL)" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Nessy Creativity Crafts" />
    <meta property="og:description" content="High quality handmade business that delivers creativity and handmade items paying close attention to details and quality at affordable prices." />
    <meta property="ns:my_custom_meta" content="a value" />
    <meta name="charset" content="utf-8" />
    <meta name="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
      <%= favicon_link_tag asset_path('ncc-logo-trans.png') %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>


      // -----------------carousel-----------------------
      let slideIndex = 1;
      showSlides(slideIndex);

      // Next/previous controls
      function plusSlides(n) {
        showSlides((slideIndex += n));
      }

      // Thumbnail image controls
      function currentSlide(n) {
        showSlides((slideIndex = n));
      }

      function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("demo");
        let captionText = document.getElementById("caption");
        if (n > slides.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.cssText = "display: flex; justify-content: center";
        dots[slideIndex - 1].className += " active";
        captionText.innerHTML = dots[slideIndex - 1].alt;
      }

    </script>
  </body>
</html>
